.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
}

.customTooltip{
    border: 1px solid darkgray;
    background: white;
    padding: 5px;
    border-radius: 4px;
    /*color: white;*/
}

.customTooltip > .intro{
    font-weight: bolder;
    color: #8884d8;
}